@font-face {
  font-family: "nashville";
  src: url(../fonts/Nashville.ttf) format("truetype");
}
@font-face {
  font-family: "bronco";
  src: url(../fonts/BroncoPersonalUse.ttf) format("truetype");
}
@font-face {
  font-family: "inter";
  src: url(../fonts/Inter-VariableFont_opsz.ttf) format("truetype");
}
:root {
 --orange: #C46A2D;
 --grey: #393939;
 --black: #1F1F1F;
 --white: #E6E6E6; 
 --headline: font-family: "bronco", serif;
--subheadline: font-family: "inter", sans-serif;
}

body {
  margin: 0;
  min-width: 1280px;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 700;
  color: #e0e0e0;
  background-color: #1a1a1a;
  font-size: 25px;
}



