@font-face {
  font-family: "nashville";
  src: url(../fonts/Nashville.ttf) format("truetype");
}
@font-face {
  font-family: "bronco";
  src: url(../fonts/BroncoPersonalUse.ttf) format("truetype");
}
@font-face {
  font-family: "inter";
  src: url(../fonts/Inter-VariableFont_opsz.ttf) format("truetype");
}
:root {
  --orange: #c46a2d;
  --grey: #393939;
  --black: #1f1f1f;
  --white: #e6e6e6;
  --headline: "bronco", serif;
  --subheadline: "inter", sans-serif;
  --filter: invert(44%) sepia(97%) saturate(500%) hue-rotate(360deg)
    brightness(97%) contrast(98%);
}

body {
  margin: 0;
  min-width: 1280px;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 700;
  color: #e0e0e0;
  background-color: #1a1a1a;
  font-size: 25px;
}
