@font-face {
  font-family: "nashville";
  src: url(../fonts/Nashville.ttf) format("truetype");
}
@font-face {
  font-family: "bronco";
  src: url(../fonts/BroncoPersonalUse.ttf) format("truetype");
}
@font-face {
  font-family: "inter";
  src: url(../fonts/Inter-VariableFont_opsz.ttf) format("truetype");
}
:root {
  --orange: #c46a2d;
  --grey: #393939;
  --black: #1f1f1f;
  --white: #e6e6e6;
  --headline: "bronco", serif;
  --subheadline: "inter", sans-serif;
  --filter: invert(44%) sepia(97%) saturate(500%) hue-rotate(360deg)
    brightness(97%) contrast(98%);
}

body {
  margin: 0;
  min-width: 1280px;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 700;
  color: var(--white);
  background-color: var(--black);
  font-size: 25px;
  background-image: url("../img/bg-img.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.light-mode {
  background-color: var(--white);
  background-image: none;
  color: var(--black);
}

/* lavet da normal body ikke kunne */
body.light-mode .about-page,
body.light-mode .faq-page,
body.light-mode .faq-question,
body.light-mode .faq-answer,
body.light-mode .product-h1,
body.light-mode .result-count,
body.light-mode .cat-nav a,
body.light-mode .ticker-item {
  color: var(--black);
}
body.light-mode .open-filter-button {
  color: var(--black);
}
body.light-mode .most-wanted-title {
  color: var(--black);
}
