.most-wanted-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

.most-wanted-title {
  font-family: var(--headline);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 0.08em;
  margin: 0;
  display: inline-block;
}

.most-wanted-title span {
  color: var(--orange);
}